telegram_bots/telegram_hebrew_ocr_bot.json
{
  "name": "Hebrew OCR Bot (Tesseract/HTTP)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "5f9f3f8d-d7b1-4f8a-8b8a-3e3f6f3f6f3f",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -1100,
        -340
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{$env.TELEGRAM_API_KEY}}",
          "name": "Telegram Credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{$json.message.photo || $json.message.document}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-a7b8-c9d0-e1f2a3b4c5d6",
      "name": "Is it an image/document?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -880,
        -340
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo ? $json.message.photo[$json.message.photo.length - 1].file_id : $json.message.document.file_id }}"
      },
      "id": "b2c3d4e5-f6a7-b8c9-d0e1-f2a3b4c5d6e7",
      "name": "Get Image/Document",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -660,
        -340
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{$env.TELEGRAM_API_KEY}}",
          "name": "Telegram Credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "{{$env.OCR_API_URL}}",
        "sendBody": true,
        "bodyContentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "language",
              "value": "heb"
            },
            {
              "name": "file",
              "isBinary": true,
              "value": "={{ $binary.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-c9d0-e1f2-a3b4c5d6e7f8",
      "name": "OCR API Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -440,
        -340
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}"
      },
      "id": "d4e5f6a7-b8c9-d0e1-f2a3-b4c5d6e7f8g9",
      "name": "Send Extracted Text",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -220,
        -340
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{$env.TELEGRAM_API_KEY}}",
          "name": "Telegram Credentials"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Is it an image/document?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is it an image/document?": {
      "main": [
        [
          {
            "node": "Get Image/Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image/Document": {
      "main": [
        [
          {
            "node": "OCR API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR API Request": {
      "main": [
        [
          {
            "node": "Send Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
