telegram_bots/telegram_hebrew_tts_bot.json
{
  "name": "Hebrew TTS Bot (OpenAI)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "5f9f3f8d-d7b1-4f8a-8b8a-3e3f6f3f6f3f",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -1100,
        -340
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{$env.TELEGRAM_API_KEY}}",
          "name": "Telegram Credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "{{$json.message.text}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-a7b8-c9d0-e1f2a3b4c5d6",
      "name": "Is it a text message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -880,
        -340
      ]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/audio/speech",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "__rl": true,
          "value": {
            "model": "tts-1",
            "input": "={{ $json.message.text }}",
            "voice": "shimmer",
            "response_format": "opus"
          }
        },
        "options": {
          "response":{
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "c3d4e5f6-a7b8-c9d0-e1f2-a3b4c5d6e7f8",
      "name": "OpenAI TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -660,
        -340
      ],
      "credentials": {
        "openAiApi": {
          "id": "{{$env.OPENAI_API_KEY}}",
          "name": "OpenAI Credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true
      },
      "id": "d4e5f6a7-b8c9-d0e1-f2a3-b4c5d6e7f8g9",
      "name": "Send Voice Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -440,
        -340
      ],
      "credentials": {
        "telegramApi": {
          "id": "{{$env.TELEGRAM_API_KEY}}",
          "name": "Telegram Credentials"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Is it a text message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is it a text message?": {
      "main": [
        [
          {
            "node": "OpenAI TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI TTS": {
      "main": [
        [
          {
            "node": "Send Voice Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
